.acad-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(241, 240, 240, 0.1);
    border: 2px solid #ddd4d4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.acad-red-btn img {
    width: 19px;
}