@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: rgb(22, 13, 148);
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

header {
  background: linear-gradient(180deg, #063283 0%, #180874 100%);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acad-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acad-logo-container img {
  width: 235px;
}

.acad-logo-container h1 {
  margin-top: 15px;
  font-size: 24px;
}

.acad-logo-container p {
  font-size: 14px;
  font-weight: 300;
}
.react-logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}